In [13]:
import pandas as pd
data = 'data/data-2009-2013-al.csv'
filters = 'data/filters.csv'
measures = 'data/measures.csv'
location = 'data/locations-al.csv'

data = pd.read_csv(data)
filters = pd.read_csv(filters)
measures = pd.read_csv(measures)
location = pd.read_csv(location)

In [26]:
import sqlite3
conn = sqlite3.connect('data/measures.db')

In [27]:
#data.to_sql('data', conn)
filters.to_sql('filters', conn)
measures.to_sql('measures', conn)
location.to_sql('location', conn)

ValueError: Table 'filters' already exists.

In [30]:
data.columns
filters.columns
location.columns

Index(['id', 'type', 'name'], dtype='object')

In [42]:
pd.read_sql("""SELECT * 
                 FROM data d
                 JOIN filters f
                   ON d.filter_id = f.id
                 JOIN location l
                   ON l.id = d.location_id
                 JOIN measures m
                   ON m.id = d.measure_id
                WHERE d.start_year = 2009 AND
                l.name = 'Tuscaloosa' AND
                m.name = 'Cases Resulting in Conviction'
                """, conn)

,index,measure_id,filter_id,start_year,end_year,location_id,numerator,denominator,value,missing,...,description,index,id,type,name,index,id,name,format,calculation
0,162923,120,11,2009,2017,AL125,5653.0,8153.0,69.3364,0.0,...,African American defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
1,163127,120,14,2009,2017,AL125,4.0,7.0,57.1429,0.0,...,Asian or Pacific Islander defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
2,162991,120,12,2009,2017,AL125,22.0,53.0,41.5094,0.0,...,Hispanic / Latino defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
3,163059,120,13,2009,2017,AL125,6.0,9.0,66.6667,0.0,...,Native American or Alaskan defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
4,162651,120,1,2009,2017,AL125,11654.0,18486.0,63.0423,0.0,...,all defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,163467,120,21,2009,2017,AL125,2687.0,4681.0,57.4023,0.0,...,female defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
129,163263,120,31,2009,2017,AL125,6269.0,8900.0,70.4382,0.0,...,indigent defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
130,163399,120,20,2009,2017,AL125,8954.0,13685.0,65.4293,0.0,...,male defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
131,163195,120,30,2009,2017,AL125,5385.0,9586.0,56.1757,0.0,...,non-indigent defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE
132,162719,120,10,2009,2017,AL125,5930.0,10089.0,58.7769,0.0,...,white defendants,63,AL125,county,Tuscaloosa,57,120,Cases Resulting in Conviction,percentage,PERCENTAGE